@page
@model VegeBioFinal.Pages.ClienteCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].nif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].codigo_postal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cliente) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigo_postal)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
