@page
@model VegeBioFinal.Pages.ProdutosCRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.epoca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.epoca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.quantidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto.imageurl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.imageurl)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Produto.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
